/* Whole page settings */
body {
    --primary-color: #2b6777;
    --primary-color-light: #c8d8e4;
    --secondary-color: #52ab98;
    --secondary-color-light: #f2f2f2;
    --tertiary-color: #111111;
    --tertiary-color-light: #ffffff;
    background-color: var(--primary-color-light);
    border-radius: 0;
    color: var(--primary-color);
    height: 100%;
    width: 100%;
}

main {
    height: 100%
}

/* Main header for the page */
#main-nav {
    background-color: var(--secondary-color);
    color: var(--secondary-color-light);
}
/* Items on nav bar */
#main-nav a {
    color: var(--secondary-color-light);
    padding:5px;
}
/* Items on nav bar */
#main-nav a:hover {
    color: var(--primary-color-light);
}

/* Jumbotron */
#jumbotron {
    background-color: var(--primary-color);
    border-radius: 0;
    color: var(--primary-color-light);
}

/* Work section */

.work-card {
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 20px 5px;
    border: 3px black solid;
}

.work-card:hover {
    border: 3px grey solid;
}

#css-portfolio {
    background-image: url("../images/css-portfolio.png");
}

#travel-california {
    background-image: url("../images/travel_california.png");
}

#css-cheatsheet {
    background-image: url("../images/CSS_Cheatsheat.png");
}

#horiseon {
    background-image: url("../images/Horiseon.png");
}

#landing-page {
    background-image: url("../images/Landing_Page.png");
}

#zen-garden {
    background-image: url("../images/CSS_Zen_Garden.png");
}

#prework-study-guide {
    background-image: url("../images/Prework_Study_Guide.png");
}

/* Me section */

/* Footer */
footer {
    background-color: var(--secondary-color);
    color: var(--secondary-color-light);
    height:40px;
    margin-top: 10px;
}