body {
    __banner_color: green;
}

.work-card {
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 20px 5px;
    border: 3px black solid;
}

.work-card:hover {
    border: 3px grey solid;
}

#css-portfolio {
    background-image: url("../images/css-portfolio.png");
}

#travel-california {
    background-image: url("../images/travel_california.png");
}

#css-cheatsheet {
    background-image: url("../images/CSS_Cheatsheat.png");
}

#horiseon {
    background-image: url("../images/Horiseon.png");
}

#landing-page {
    background-image: url("../images/Landing_Page.png");
}

#zen-garden {
    background-image: url("../images/CSS_Zen_Garden.png");
}

#prework-study-guide {
    background-image: url("../images/Prework_Study_Guide.png");
}